//Reset
@import './reset.scss';
//Fin Reset

//Variables
@import './variables.scss';
//Fin variables

//Header
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:16px;
    .logo{
        .im-logo{
         width: 24px;
         height: 24px;
        }
     }
    .menu{
         .itemsDesplegables{
             .menuDesplegable{
                 opacity: 0;
                 position: absolute;
                 visibility: hidden;
                }
              .menuLabel{
                 .bars{
                     width: 18px; //no toma los cambios de tamaño
                     height: 12px;
                 }
                 .times{
                     width: 14px;
                     height: 14px;
                     display: none;
                 }
             }
         }
    }
    .items{
         display: none;
         position: absolute;
         width: $ancho;
         top: 44px;
         left: 0;
         background-color: $colorAzul;
         padding: 24px 16px 0;
        .links{
            color: $colorBlanco;
            font-family: $ibmSans;
            display: block;
            padding-bottom: 24px;
            font-size: $tamanoLinks;
            font-weight: $grosor;
        }
    }    
     .menuDesplegable:checked {  
          &~.menuLabel{ 
                .bars{
                    display: none;
                }  
                .times{
                    display: block;
                }   
          }  
          &~.items{
              display: block;
          }
    } 
    .links:hover{
        color: $hoverLinks ;
    } 
    .links:active{
        text-decoration: line-through;
    }  


}
//Fin Header

//Seccion inicio
.seccionInicio{
    width: $ancho;
    .titulo{
        padding: 16px 82px 16px 16px;
        margin: 0;
        font-family: $ibmSans;
        font-size: $tamanoTitulos;
        font-weight: $grosor;
        color: $colorLetraAzul;
    }
    .descripcion{
        margin: auto;
        padding: 13px 16px 36px;
        color: $colorLetraAzul;
        font-family: $ibmMono;
        font-size: $tamanoDescripcion;
        font-weight: $ancho;
    }
    .botonPrincipal{
        width: 288px;
        height: 48px;
        color: $colorLetraAzul;
        background: $colorAzulAgua;
        border: none;
        font-family: $ibmMono;
        font-weight: 600;
        font-size: $tamanoLinks;
        padding: 13px;
        margin-left: 16px;
    }
    .botonPrincipal:hover{
        background-image: $hoverBotton;
    }

}
//Fin seccion de inicio

.fondo{
    position: relative;
    width: $ancho;
    &::after{
        display: block;
        position: absolute;
        background: $colorFondoAzul;
        content: '';
        width: $ancho;
        height: $ancho;
        z-index: 0;
        top: 0;
        left: 0;
        transform: skew(0, -6deg);
    }
}

//Podcast
.podcasts{
    padding: 40px 11px 140px;
    top: 60px;
    width: $ancho;
    .podcastLista{
        position: relative;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }
    .titulo{
        position: relative;
        z-index: 2;
        font-size: $tamanoTitulos;
        line-height: $lineHeightTitulo;
        font-family: $ibmSans;
        font-weight: 200;
        color: $colorBlanco;
        margin-bottom: 21px;
    }
    .contenedor{
        margin-bottom: 11px;
        line-height: 0;
        width: 298px ;
        height: 225px;
    }
    //*****************
    .deDondeVinimos{
        position: absolute;
        z-index: 2;
        .imagen{
            line-height: 0;
            position: absolute;
            z-index: 2;
            margin-top: 50px;
            .Phone{
                width: 290px;
                height: 480px;
           }
        }
    
        .contenedorTexto{
            margin-top: 550px;
            padding: 0px 16px;
            .titulo{
                font-family: $ibmSans;
                font-size: $tamanoTitulos;
                font-weight: $grosor;
                color: $colorLetraAzul;
                letter-spacing: $letterSpacing;
                line-height: $lineHeightTitulo;
                margin-bottom: auto;
            }
            .descripcion{
                 color: $colorLetraAzul;
                 font-family: $ibmMono;
                 font-size: $tamanoDescripcion;
                 font-weight: $grosor;
                 letter-spacing: $letterSpacing;
                 line-height: $lineHeightDescripcion;  
            }
        }
    }

 }
//Fin de podcast

//Invitadas/os estelares
.invitadosEstelares{
    width: $ancho;
    margin-top: 900px;
    .titulo{
        font-family: $ibmSans;
        font-size: $tamanoTitulos;
        font-weight: $grosor;
        color: $colorLetraAzul;
        letter-spacing: $letterSpacing;
        line-height: $lineHeightTitulo;
        padding: 16px;
    }
    .galeria{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .imagen{
            display: block;
            width: 320px;
            height: 243px;
        }
    }
}
//Fin de invitados estelare

//Temas
.temas{
    margin-top: 48px;
    width: $ancho;
    .titulo{
        padding: 16px;
        font-family: $ibmSans;
        font-size: $tamanoTitulos;
        color: $colorLetraAzul;
        letter-spacing: $letterSpacing;
        line-height: $lineHeightTitulo;
        font-weight: $grosor;
    }
    .contenedorIconos{
        padding: 37px 16px;
        text-align: center;
        .seccion{
            .icono{
                width: 104px;
                height: 104px;
                margin-left: 10px;
            }
            .subtitulo{
                font-family: $ibmSans;
                font-weight: bold;
                font-size: 24px;
                color: $colorLetraAzul;
                letter-spacing: $letterSpacing;
                text-align: center;
                margin-bottom: 50px;
            }
        }
    }
}
//Fin temas

//Inicio novedades
.novedades{
    width: $ancho;
    padding: 30px 0px 80px;
    text-align: center;
    justify-content: center;
    .titulo{
        font-family: $ibmSans;
        font-size: $tamanoTitulos;
        color: $colorBlanco;
        letter-spacing: $letterSpacing;
        line-height: $lineHeightTitulo;
        font-weight: 200;
        z-index: 2;
        position: relative;
        padding: 24px;
        margin-bottom: 4px;
    }
    .botonSecundario{
        font-family: $ibmMono;
        font-size: $tamanoLinks;
        width: 288px;
        height: 48px;
        font-weight:600;
        color: $colorLetraAzul;
        letter-spacing: $letterSpacing;
        line-height: $lineHeightDescripcion;
        z-index: 2;
        position: relative;
        margin-bottom: 80px;
        background: $colorAzulAgua;
        border: none;
    }
    .botonSecundario:hover{
        background-image: $hoverBotton;
    }
}
//Fin novedades

//Inicio footer
.footer{
    position: absolute;
    background: $colorBlanco;
    margin-top: -50px;
    width: $ancho;
    text-align: center;
    justify-content: center;
    .piePagina{
        font-family: $ibmMono;
        font-size: $tamanoDescripcion;
        color: $colorLetraAzul;
        letter-spacing: $letterSpacing;
        line-height: $lineHeightDescripcion;
        position: relative;
        font-weight: $grosor;
        margin-left: 47px;
        margin-right: 46px;
        padding-top: 24px;
        z-index: 2;
    }
    .iconosContenedor{
        font-size: $tamanoLinks;
        color: $colorLetraAzul;
        letter-spacing: $letterSpacing;
        line-height: 28px;
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 16px 45px 31px;
        .icono{
            width: 14px;
            height: 28px;
        }
        
    }
}
//Fin footer

//Media queries
@import './mediaQueries.scss';
//Fin media queries