$colorLetraAzul: #060A24;
$hoverBotton: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$hoverLinks: #00F3BB;
$colorAzul: #0000EC;
$colorFondoAzul: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$colorBlanco: #FFFFFF;
$colorAzulAgua: #00F3BB;
$ibmSans: 'IBM Plex Sans',sans-serif;
$ibmMono: 'IBM Plex Mono', monospace;
$grosor: 400;
$ancho: 100%;
$tamanoTitulos: 36px;
$tamanoTitulosMedianos: 48px;
$tamanoTitulosGrande: 64px;
$tamanoDescripcion: 14px;
$tamanoSubtitulos: 18px;
$tamanoLinks: 16px;
$lineHeightTitulo: 42px;
$lineHeightDescripcion: 22px;
$lineHeightDescripcionGrande:24px;  
$letterSpacing: 0;